.App,
.form-and-btnSection {
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
}

.header {
  text-align: center;
}

.app-form {
  width: 52%;
  margin: 1% 0px 1% 25%;
}

.app-btn {
  margin: 0px 0px 4% 15%;
}

.header > h2 {
  color: #191970;
  margin: 4% 0px 0px 0px;
}

/* C4906C	F5E5D7	A24A34 */

@media only screen and (max-width: 375px) {
  .app-btn {
    margin: 0px 0px 4% -13%;
  }
}
